################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Class7/x64/Debug
/Classe5/x64/Debug
/Classes/x64/Debug
/Classes2/x64/Debug
/Classes3/x64/Debug
/Classes4/x64/Debug
/ClassTemplate/x64/Debug
/Deque-STL
/deque-test
/Bitset
/OPeratorOverloading2
/Maps-STL/x64/Debug
/OperatorOverloading/.vs/OperatorOverloading/FileContentIndex/14e16114-176f-47fa-b6de-2050254e6f35.vsidx
/OPeratorOverloading2/x64/Debug
/TemplateSpecialization/x64/Debug
/Variadics/x64/Debug
/Workshops/x64/Debug
/Advanced_Topics/constraints/.vs/constraints
/Advanced_Topics/constraints/x64/Debug
/Advanced_Topics/container/.vs/container
/Advanced_Topics/container/x64/Debug
/Advanced_Topics/container2/.vs/container2
/Advanced_Topics/container2/x64/Debug
/Advanced_Topics/container3/.vs/container3
/Advanced_Topics/container3/.vs/container3/v17
/Advanced_Topics/container3/x64/Debug
/Advanced_Topics/functor/.vs/functor
/Advanced_Topics/functor/x64/Debug
/Advanced_Topics/incr-decr/.vs/incr-decr
/Advanced_Topics/incr-decr/x64/Debug
/Advanced_Topics/inplace_remove/.vs/inplace_remove
/Advanced_Topics/inplace_remove/x64/Debug
/Advanced_Topics/lambda-capture/.vs/lambda-capture
/Advanced_Topics/lambda-capture/x64/Debug
/Advanced_Topics/lambda-hello/.vs/lambda-hello
/Advanced_Topics/lambda-hello/x64/Debug
/Advanced_Topics/lambda-predicate/.vs/lambda-predicate
/Advanced_Topics/lambda-predicate/x64/Debug
/Advanced_Topics/optional/.vs/optional
/Advanced_Topics/optional/x64/Debug
/Advanced_Topics/rational/.vs/rational
/Advanced_Topics/rational/x64/Debug
/Advanced_Topics/variant/.vs/variant
/Advanced_Topics/variant/x64/Debug
/Advanced_Topics/vector/.vs/vector
/Advanced_Topics/vector/x64/Debug
/BitArray/.vs/BitArray
/BitArray/x64/Debug
/Bitset/.vs/Bitset
/Bitset/x64/Debug
/Class6/x64/Debug
/Deque-STL2/x64/Debug
/OperatorOverloading/.vs/OperatorOverloading
/OperatorOverloading/x64/Debug
/Struct/x64/Debug
/Vector-Sort/x64/Debug
/VectorErase/x64/Debug
VectorErase/x64/Debug/vc143.idb
VectorErase/x64/Debug/vc143.pdb
VectorErase/x64/Debug/VectorErase.exe.recipe
VectorErase/x64/Debug/VectorErase.ilk
VectorErase/x64/Debug/VectorErase.log
VectorErase/x64/Debug/VectorErase.obj
VectorErase/x64/Debug/VectorErase.tlog/CL.command.1.tlog
VectorErase/x64/Debug/VectorErase.tlog/Cl.items.tlog
VectorErase/x64/Debug/VectorErase.tlog/CL.read.1.tlog
VectorErase/x64/Debug/VectorErase.tlog/CL.write.1.tlog
VectorErase/x64/Debug/VectorErase.tlog/link.command.1.tlog
VectorErase/x64/Debug/VectorErase.tlog/link.read.1.tlog
VectorErase/x64/Debug/VectorErase.tlog/link.write.1.tlog
VectorErase/x64/Debug/VectorErase.tlog/VectorErase.lastbuildstate
VariableSizeArrays/x64/Debug/Variable.09db4a5b.tlog/CL.command.1.tlog
VariableSizeArrays/x64/Debug/Variable.09db4a5b.tlog/Cl.items.tlog
VariableSizeArrays/x64/Debug/Variable.09db4a5b.tlog/CL.read.1.tlog
VariableSizeArrays/x64/Debug/Variable.09db4a5b.tlog/CL.write.1.tlog
VariableSizeArrays/x64/Debug/Variable.09db4a5b.tlog/link.command.1.tlog
VariableSizeArrays/x64/Debug/Variable.09db4a5b.tlog/link.read.1.tlog
VariableSizeArrays/x64/Debug/Variable.09db4a5b.tlog/link.write.1.tlog
VariableSizeArrays/x64/Debug/Variable.09db4a5b.tlog/VariableSizeArrays.lastbuildstate
VariableSizeArrays/x64/Debug/VariableSizeArrays.exe.recipe
VariableSizeArrays/x64/Debug/VariableSizeArrays.ilk
VariableSizeArrays/x64/Debug/VariableSizeArrays.log
VariableSizeArrays/x64/Debug/VariableSizeArrays.obj
VariableSizeArrays/x64/Debug/vc143.idb
VariableSizeArrays/x64/Debug/vc143.pdb
/Lower-Bound-STL/x64/Debug
/Sets-STL/x64/Debug
/OstreamOverloading/x64/Debug
/CppExceptionHandling/x64/Debug
/MessageOrder/x64/Debug
/stringstream/x64/Debug
/2D-Array-DS/.vs/2D-Array-DS
/2D-Array-DS/x64/Debug
/Array-DS/.vs/Array-DS
/Array-DS/x64/Debug
/dynamic-array/x64/Debug
